openai==2.2.0
langchain==0.3.27
langchain-community==0.3.30
langchain-core==0.3.78
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
langchain-ollama==0.3.10
vllm==0.11.0
pypdf==6.1.1
wikipedia==1.4.0
markitdown==0.1.3
langchain-experimental==0.3.4
ragas==0.3.6
ipywidgets==8.1.7
rapidfuzz==3.14.1
transformers==4.57.0
matplotlib==3.10.6
langchain-unstructured[local]==0.1.6
langgraph==0.6.8
bitsandbytes==0.48.1